.tabs {
	color: white;
	display: flex;
	margin-top: 16px;
	overflow-y: scroll;
	margin-right: -10px;
}
.tab {
	font-family: "Raleway", sans-serif;
	cursor: pointer;
	padding: 0;
	border-bottom: 1px solid transparent;
	margin-right: 16px;
	font-size: 13px;
	font-weight: 500;
	transition: all 0.2s;
	&:hover,
	&.active {
		font-weight: bold;
		border-bottom-color: currentColor;
	}
}
