.location-selector {
	margin: 5px 10px;

	background-color: #1a1a1a;
	border-radius: 8px;
}

.location-dropdown {
	cursor: pointer;
	margin: 0 auto;
}

.dropdown-custom {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 8px;
	z-index: 50;
	background-color: #1a1a1a;
	max-height: 600px;
}
