@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	::before,
	::after {
		content: none !important;
		display: none !important;
	}

	html,
	body,
	#__next {
		height: 100%;
		margin: 0;
	}
}

body {
	overflow-x: hidden;
	background-color: #000;
}
