@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::before,
  ::after {
    content: none !important;
    display: none !important;
  }
}

body {
	overflow-x: hidden;
	background-color: #000;
}
