@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	::before,
	::after {
		content: none !important;
		display: none !important;
	}

	html,
	body {
		min-height: 100%;
		margin: 0;
		padding: 0;
	}

	#__next {
		min-height: 100%;
	}
}

body {
	overflow-x: hidden;
	background-color: #000;
}
