.modal-overlay {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modal-content {
	background-color: #1a1a1a;
	color: white;
	padding: 2rem;
	border-radius: 0.5rem;
	width: 90%;
	max-width: 400px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.filter-section {
	margin-bottom: 1rem;

	label {
		display: block;
		margin-bottom: 0.5rem;
		font-weight: bold;
	}
}

.filter-section select {
	width: 100%;
	padding: 0.5rem;
	border-radius: 0.25rem;
	background-color: #2a2a2a;
	color: white;
	border: 1px solid #444;
	margin-top: 0.5rem;
}

.price-range {
	display: flex;
	gap: 1rem;
}

.price-range input {
	flex: 1;
	padding: 0.5rem 0.75rem;
	background-color: #2a2a2a;
	color: white;
	font-size: 1rem;

	border: 1px solid #ccc;
	border-radius: 0.375rem;
	outline: none;
	transition: border-color 0.2s ease;
}

.price-range input::placeholder {
	color: #aaa;
}

.price-range input:focus {
	border-color: #e6b800;
	background-color: #2a2a2a;
}

.filter-actions {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
}

.clear-btn {
	background: transparent;
	color: #aaa;
	border: none;
	cursor: pointer;
}

.apply-btn {
	background-color: #e6b800;
	color: #000;
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	border: none;
	cursor: pointer;
}

.sort-options {
	display: flex;
	flex-direction: column;
	gap: 0.75rem; // Espacio entre opciones

	label {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		font-weight: normal;
		cursor: pointer;
	}

	input[type="radio"] {
		appearance: none;
		width: 18px;
		height: 18px;
		border: 2px solid white;
		border-radius: 50%;
		position: relative;
		cursor: pointer;
		outline: none;
		transition: all 0.2s ease-in-out;
		background-color: transparent;
	}

	input[type="radio"]:checked::before {
		content: "";
		position: absolute;
		top: 4px;
		left: 4px;
		width: 8px;
		height: 8px;
		background-color: white;
		border-radius: 50%;
	}

	input[type="radio"]:focus {
		box-shadow: 0 0 0 2px #e6b800;
	}
}

.category-select {
	max-width: 100%;
	width: 100%;
	box-sizing: border-box;
}
.formGroup {
	flex: 1;
	display: flex;
	flex-direction: column;
}
